RK_BUILDROOT_BASE_CFG="rk3506_sonnette"
# RK_YOCTO is not set
# RK_NETWORK_CHECK is not set
RK_ROOTFS_UBI=y
RK_UBI_PAGE_SIZE=4096
RK_UBI_BLOCK_SIZE=0x40000
RK_ROOTFS_HOSTNAME_CUSTOM=y
RK_ROOTFS_HOSTNAME="sonnette"
RK_ROOTFS_INSTALL_MODULES=y
# RK_WIFIBT is not set
# RK_ROOTFS_LOG_GUARDIAN is not set
RK_EXTRA_FONTS_ENABLED_EN=y
RK_UBOOT_CFG="rk3506_luckfox"
RK_UBOOT_SPL=y
RK_KERNEL_CFG="rk3506_luckfox_defconfig"
RK_KERNEL_CFG_FRAGMENTS="rk3506_sonnette_kernel.config"
RK_KERNEL_DTS_NAME="rk3506g-custom-sonnette"
RK_BOOT_COMPRESSED=y
# RK_RECOVERY is not set
RK_EXTRA_PARTITION_NUM=0
RK_PARAMETER="parameter-lyra-spinand.txt"
RK_USE_FIT_IMG=y
